# dependencies
node_modules

# build output
dist
coverage

# runtime data
uploads/*
!uploads/.gitkeep

# env
.env
.env.local
.env.*.local

# logs
logs
*.log
npm-debug.log*

# editor / os
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
